html {
    overflow-y: scroll;
}



body {
	font-family: Verdana, Arial, sans-serif;
	font-size: small;
	}
	
h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

#nav {
	float: left;
	width: 50%;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #ccc;
	border-bottom: 1px solid #999;
	}

#nav_right {
    display: block;

    text-align: right;
    float: right;
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #ccc;
    border-bottom: 1px solid #999;
}
#nav_right li {
    float: left;
    margin: 0;
    padding: 0;
}

#nav_right a {
    float: right;
    display: block;
    padding: 6px 10px 6px 30px;
    text-decoration: double;
    font-weight: bold;
    font-size: 90%;
    color: #666;
    background: #ccc url(slant_right.gif) no-repeat top left;

}

#nav_right #nav_right-1 a {
    padding-right: 20px;
}

#nav_right #nav-1 a {
    padding-left: 20px;
}

#nav_right a:hover {
    color: #000;
}


#nav li { 
	float: left;
	margin: 0;
	padding: 0;
	}

#nav a {
	float: left;
	display: block;
	padding: 6px 30px 6px 5px;
	text-decoration: double;
	font-weight: bold;
	font-size: 90%;
	color: #666;
	background: #ccc url(slant.gif) no-repeat top right;
	}

#nav #nav-1 a {
	padding-left: 20px;
	}

#nav a:hover {
	color: #000;
	}

#wrapper {
    width: 85%;
    margin-left: auto ;
    margin-right: auto ;
}


#footer {
    font-size: 65%;
    padding: 3px 0 0 0;
    margin-left: auto ;
    margin-right: auto ;
}

#table {
    color: gray;
    padding: 0px 0px 0px 10px;
    text-align: left

}
#table a {

    padding: 0px 10px 6px 10px;
    text-decoration: double;
    font-weight: bold;
    font-size: 120%;
    color: #666;

}

#table a:hover {
   color: #000000;

}
/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2098d1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

a.threads:hover
{
    text-decoration:underline;
}

#footer {
    font-size: 65%;
    padding: 3px 0 0 0;
    margin-left: auto ;
    margin-right: auto ;
}

textarea {
    resize: none;
    width: 300px;
    height: 150px;
}
#separator {
    background: url("separator.gif");
    background-size: cover;
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
    background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
    background-color:#bddbfa;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:20px;
    line-height:20px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;
}
.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
    background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
    background-color:#80b5ea;
}.button:active {
     position:relative;
     top:1px;
 }
