/*div {
    border: 1px solid #000000
}*/
html {
    overflow-y: scroll;
}

body {

         /* make sure IE centers the page too */
    overflow-y:scroll;
}

#wrapper {
    width: 900px;
    margin-left: auto ;
    margin-right: auto ;
}

#content {
    background-color: #fff;
    border: 1px solid #000;
    float: left;
    font-family: Arial;
    padding: 20px 30px;
    text-align: left;
    width: 100%;                 /* fill up the entire div */
}

#menu {
    float: left;
    border: 1px solid #000;
    border-bottom: none;        /* avoid a double border */
    clear: both;                /* clear:both makes sure the content div doesn't float next to this one but stays under it */
    width:100%;
    height:20px;
    padding: 0 30px;
    background-color: #FFF;
    text-align: left;
    font-size: 85%;
}

#menu a:hover {
    background-color: #009FC1;
}

#userbar {
    background-color: #fff;
    text-align: right;
    float: right;
    width: 450px;
}

#footer {
    clear: both;
}


/* Begin font styles */
h1, #footer {
    font-family: Arial;
    color: #F1F3F1;
}

h3 {margin: 0; padding: 0;}

/* Menu styles */
.leftpart {
    width: 70%;
}

.rightpart {
    width: 30%;
    overflow: hidden;
}

.item {
    background-color: #00728B;
    border: 1px solid #032472;
    color: #FFF;
    font-family: Arial;
    padding: 3px;
    text-decoration: none;
}



#thread
{
    display:inline-block;
    border: 1px solid #000000;
    margin:1px;
    font-size: 85%;
    white-space:nowrap;
    border-style:dotted;

overflow: hidden
}
#thread2
{
    display:inline;
    border: 1px solid #000000;
    margin:1px;
    text-align: center;
    float:right;
    overflow: hidden;
border-style: dotted
}
#thread_image
{
    width: 10px;
    height: auto;
    white-space:nowrap
}

#posts
{
    display:inline-block;
    border: 1px solid #000000;
    margin:1px;
    font-size: 115%;
    white-space:nowrap;
    width: 40%;
    height: 100px;
    float: left;
}

